
.links{
    height: 40%;
    width: 100%;
    text-align: end;
    font-size: 1rem;
    word-spacing: 1rem;
}
.about{
    text-align: center;
    width: 40%;
    float: left;

}
h1{
    font-size: 2.5rem;
    font-style: italic;
    background-size: cover;
    text-align: center;

}
p{
    font-size: 1rem;
}
.image{
    width: 40%;
    float: left;
    margin-top: 5%;
    margin-left: 7%;
}

.offer{
    margin: auto;
    margin-top: 35%;
    width: 35%;
    background-color: cornsilk;
    border: crimson;
    border-radius: 20%;
}

